@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body{
    width: 1500px;
    overflow-x: hidden;
}
.header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head{
    background: #65256F;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Gilroy;
    align-items: center;
}
.head_title{
    color: #ffb700;
    font-size: 14px;
    font-weight: 600;
    margin-left: 80px;
}
.head_p{
    color: white;
    font-size: 14px;
    margin-right: 120px;
}
.head_span{
    color: #FBC70E;
    font-size: 16px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1500px;
    height: 62px;
    align-items: center;
    font-family: Montserrat;
}
.nav_img{
    width: 174px;
    height: 47px;
}
.nav_list{
    width: 1000px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 600;
}
.list_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.list_group{
    width: 113px;
    height: 20px;
    margin-right: 20px;
}
.list_group1{
    font-size: 14px;
    font-family: Montserrat;
    color: #2a2828;
    text-decoration: none;
}
.list_group:nth-child(4){
    border-bottom: 2px solid #ffb700;
}
.block_btn{
    width: 190px;
    height: 42px;
    background: #65256F;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_btn{
    font-size: 14px;
    width: 130px;
    height: 17px;
    background-color: #65256F;
    color: white;
    border: none;
    font-family: Montserrat;
}
.title{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    font-family: Gilroy;
    position: relative;
}
.title:before{ 
    position: absolute;
    content: "";
    width: 577px;
    left: 0;
    top: 50%;
    height: 2px;
    background: #BEBEBE;
    
}
.title:after{
    position: absolute;
    top: 50%;
    left: 61.5%;
    content: "";
    width: 40%;
    height: 2px;
    background: #BEBEBE;
}
.block{
    width: 82.3%;
    margin: auto;
    height: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.portfolio{
    width: 46.012%;
    height: 43.385%;
    position: relative;
    
}

.portfolio1{
    width: 46.02%;
    height: 43.39%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}
.photo{
    width: 47.18%;
    height: 48.59%;
    position: relative;
}
.long_photo{
    width: 100%;
    height: 48.59%;
    position: relative;
}
.p_port{
    font-size: 24px;
    font-family: Montserrat;
    color: white;
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.footer{
    width: 100%;
    height: 325px;
    background: #3a3a3a;
}
.footer_block{
    width: 82.3%;
    height: 224px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
    margin-left: 137px;

}
.block_foot{
    margin-top: 50px;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.company_title{
    font-size: 16px;
    color: white;
    font-family: Gilroy;
    font-weight: 600;
}
.list{
    font-size: 14px;
    color: #BCBBBB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}
.company_li{
    list-style: none;
    color: #BCBBBB;
    margin-right: 0px;
    margin-top: 10px;
}
.about_company{
    font-size: 14px;
    font-weight: 600;
    color: #bcbbbb;
    font-family: Gilroy;
}
.social_link{
    color: #bcbbbb;
    text-decoration: none;
}